a {
  color: #99cc33;
}

.nav a:hover,.nav a.active {
	color: #b2da63;
}

.about strong {
  color: #99cc33;
}

.about .they {
  background-image: url(../images/decor-pistachio.png);
}

input[type='submit'] {
  background: #88b322;
}

input.error {
  background: #cfe59c;
}
.contact{
	background-color: #f0f7e0;
	border-top: 10px solid #bb8e64;
	box-shadow: inset 0 10px 6px -9px 
	
	/*background-color:#bcdb73;
	border-top:10px solid #bcdb73;
  	background-color: rgba(169,218,64,0.3);
	border-top:10px solid rgba(153,204,51,0.3);
	box-shadow:inset 0 10px 6px -9px rgba(153,204,51,0.3);*/
}

.contact h2 {
	color: #fff;
}

.contact h3,.contact #note {
	color: #ff0099;
	text-shadow: 0 1px 1px rgba(255,255,255,0.3);
	font-size: 32px;
}

.no-touch.opacity .checkbox label:before {
  background: #88b322;
}

@media only screen and (min-width: 768px) {
  .nav-container .effect {
    background: #99cc33;
  }

  .contact-details-1,.ie-fix .contact-details-1 {
    border-right: 1px solid #88b322;
  }

  .contact-details-2,.ie-fix .contact-details-2 {
    border-left: 1px solid #88b322;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 830px) {
  .header h2 {
    background-image: url(../images/decor-pistachio.png);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .about .they {
    background-image: url(../images/decor-pistachio@2x.png);
  }
}

@media only screen and (min-width: 1024px) and (min-height: 830px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1024px) and (min-height: 830px) and (min-width: 1024px) and (min-height: 830px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1024px) and (min-height: 830px) and (min-device-pixel-ratio: 1.5) {
  .header h2 {
    background-image: url(../images/decor-pistachio@2x.png);
  }
}
